<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Logs view</title>

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 

  <!-- Custom styles for this template -->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {{>sidebar}}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {{>topbar}}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Logs view</h1>
          <p class="mb-4">View all the logs from all devices, sort and search by your needs.</p>
          <!-- DataTales -->
            
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTableLogs" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Log ID</th>
                      <th>Time</th>
                      <th>Source</th>
                      <th>Category</th>
                      <th>Device Name</th>
                      <th>IP Address</th>
                      <th>MAC Address</th>
                      <th>User</th>
                      <th>OS</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Log ID</th>
                      <th>Time</th>
                      
                      <th>Source</th>
                      <th>Category</th>
                      <th>Device Name</th>
                      <th>IP Address</th>
                      <th>MAC Address</th>
                      <th>User</th>
                      <th>OS</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            
          

        </div>
        <!-- /.container-fluid -->

        {{!-- Modal Start --}}
        <div id="log-view" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Offense View" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 id="log-header" class="modal-title-table-view"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body table-view">
                <ul class="list-group">
                  <li class="list-group-item"><h6 class="modal-view">Log ID:</h6>  <label id="logid-label"></label></li>
                  <li class="list-group-item"><h6 class="field">Client Time:  </h6> <label id="clientime-label"></label></li>
                  <li class="list-group-item"><h6 class="field">Insert Time:  </h6><label id="insertime-label"></label></li>
                  <li class="list-group-item"><h6 class="field">Type:  </h6><label id="type-label"></label></li>
                  <li class="list-group-item"><h6 class="field">Made by source:  </h6><label id="src-label"></label></li>
                  <li class="list-group-item"><h6 class="field">Category:  </h6><label id="cat-label"></label></li>
                  <li class="list-group-item"><h6 class="field">Hostname:  </h6><label id="host-label"></label></li>
                  <li class="list-group-item"><h6 class="field">User logged:  </h6><label id="user-label"></label></li>
                  <li class="list-group-item"><h6 class="field">Operating System:  </h6><label id="os-label"></label></li>
                  <li class="list-group-item"><h6 class="field">IP Address:  </h6><label id="ip-label"></label></li>
                  <li class="list-group-item"><h6 class="field">MAC Address:  </h6><label id="mac-label"></label></li>

                  <li class="list-group-item">
                    <p><h6 class="field">Log records:  </h6></p>
                    <ul id="logs-list-modal">
                      {{!-- Here need to be automaticly logs --}}
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        {{!-- Modal End --}}
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {{>footer}}

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

{{>logout}}

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins | Data table script -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  {{!-- Style for DataTable --}}
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts | DataTable script -->

  {{!-- Script to fill the table manual --}}
  <script src="js/logs-view.js"></script>




</body>

</html>
