<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Tables</title>

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
  <link href="css/Siem-css.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {{>sidebar}}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {{>topbar}}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h2 mb-0 text-gray-800">Policy Managment</h1>
              <!-- Category select button -->
              <form method="POST" action="/policy/category_select" id="category" >
              <h5align="right" style="font-weight: bold">Category</h5>
                    <select id="category_select" name="category_select" multiple="multiple"  class="multiple">
                    <option value="application" >Application</option>
                    <option value="system">System</option>
                    <option value="security">Security</option>
                    <option value="setup">Setup</option>
                    </select>
                <input type="submit" >
              </form>

            
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Create rule Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body" data-toggle="modal" data-target="#ruleModal">
                
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">Create Rule</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Create event Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body" data-toggle="modal" data-target="#eventModal"> 
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-lg font-weight-bold text-success text-uppercase mb-1">Create Event</div>
                      
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Import Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body"data-toggle="modal" data-target="#importModal"> 
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-lg font-weight-bold text-info text-uppercase mb-1">Import</div>

                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Export Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body"data-toggle="modal" data-target="#exportModal"> 
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-lg font-weight-bold text-warning text-uppercase mb-1">Export</div>
                      
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {{>footer}}

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

{{>logout}}

<!-- Create Rule Modal -->
<div class="modal fade modal-center-screen" id="ruleModal" tabindex="-1" role="dialog" data-backdrop="static" style="padding-top: 280px">
    <div class="modal-dialog modal-xl">
    <div class="modal-content">

        <div class="modal-header">
              <h3 class='col-12 modal-title text-center'>
              Rule Managment
              <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
              <span aria-hidden='true'>&times;</span>
              </button></h3>
        </div>
        <div class="modal-body">
          <!-- add rule -->
          
            <form class="input-group"method="post" action="/api/policy/postRules" style="margin-bottom: 20px">
              
              <div class="input-group-prepend" id="nameBtnGroupAddon" style="padding-left: 30px">
                <div class="input-group-text" >NAME</div>
              </div>
              <input type="text" id="NameRule" name="NameRule" size="38" autocomplete="off" style="margin-right: 10px" onkeyup="emptyInput('rule')" required><br>

              <div class="input-group-prepend" id="nameBtnGroupAddon" style="padding-left: 30px">
                <div class="input-group-text" >FIELD</div>
              </div>
              <input type="text" id="ruleField" name="ruleField" size="4" autocomplete="off" style="margin-right: 30px" onkeyup="emptyInput('rule')" required><br>
               
              <div class="input-group-prepend" id="nameBtnGroupAddon" style="padding-left: 30px">
                <div class="input-group-text" >VALUE</div>
              </div>
              <input type="text" id="ruleValue" name="ruleValue" size="4" autocomplete="off" style="margin-right: 30px" onkeyup="emptyInput('rule')" required><br>
              
              <button type="submit" id="send" class="btn btn-success btn-circle" onclick="incRuleID()" disabled>
                    <i class="fas fa-check"></i>
              </button>
              
            </form>

          <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <!-- DataTales Example -->
              <div class="table-responsive">
                <table class="table table-bordered RuleDataTable"width="100%" cellspacing="0"style="margin-top: 20px">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>NAME</th>
                      <th>FIELD</th>
                      <th>VALUE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Error</td>
                      <td>Error</td>
                      <td>Error</td>
                      <td>Error</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
            
          
          </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

<!-- Create Event Modal -->
<div class="modal fade modal-center-screen" id="eventModal" tabindex="-1" role="dialog" data-backdrop="static" style="padding-top: 280px">
    <div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
              <h3 class='col-12 modal-title text-center'>
              Event Managment
              <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
              <span aria-hidden='true'>&times;</span>
              </button></h3>
        </div>
        <div class="modal-body">
                  <!-- add event -->
          
            <form class="input-group" method="post" action="/api/policy/postEvents" style="margin-bottom: 20px">

              <div class="input-group-prepend" id="nameBtnGroupAddon" style="padding-left: 145px"> 
                <div class="input-group-text" >Event Name</div>
              </div>
              <input type="text" id="eventName" name="eventName" size="17"  autocomplete="off" onkeyup="emptyInput()" required>

              <div class="input-group-prepend" id="nameBtnGroupAddon" style="padding-left: 30px"> 
                <div class="input-group-text" >Description</div>
              </div>
              <input type="text" id="eventDescription" name="eventDescription" size="27"  autocomplete="off" onkeyup="emptyInput()" required>              
              
              <div class="input-group-prepend" id="nameBtnGroupAddon" style="padding-left: 30px"> 
                <div class="input-group-text" >Type</div>
              </div>
              <select id="type_select" name="type_select" class="dropdown"style=" height:36px;">
                <option value="Local">Local</option>
                <option value="Global">Global</option>
              </select>

                <!-- Add event - Clone -->
              <div class="event_creation" >
                  <div class="rule_fields_for_duplication ">

                    <div class="input-group-prepend" id="nameBtnGroupAddon"style="display: inline-block;  padding-left: 270px; padding-top: 9px">
                      <div class="input-group-text" s>Rule ID</div>
                    </div>
                    <input type="text" id="ruleNum" name="ruleNum" size="2"  autocomplete="off" style="padding-top: 9px;text-align: center" onkeyup="emptyInput()" required>

                    <div class="input-group-prepend" id="nameBtnGroupAddon"style="display: inline-block; padding-left: 30px; padding-top: 9px">
                      <div class="input-group-text" >Repeated</div>
                    </div>
                    <input type="text" id="repeated" name="repeated" size="2" autocomplete="off" style="padding-top: 9px;text-align: center" onkeyup="emptyInput()" required>
                    
                    <div class="input-group-prepend" id="nameBtnGroupAddon"style="display: inline-block; padding-left: 30px; padding-top: 9px">
                      <div class="input-group-text" >Timeout</div>
                    </div>
                    <input type="text" id="TIMEOUT" name="TIMEOUT" size="4"  autocomplete="off" style="padding-top: 9px;text-align: center" onkeyup="emptyInput()" required>

                  </div>
               </div>
                    <div><button class="btn btn-primary btn-user btn-block;input-group-text" href="#" id="addMore" style="position: absolute;right: 200px;bottom:0;">ADD RULE</button></div>
                    
                    <button type="submit" id="send2" class="btn btn-success btn-circle"style="position: absolute;right: 150px;bottom:0;"onclick="incRuleID()" disabled >
                          <i class="fas fa-check"></i>
                    </button>
                    

            </form>
            
        </div>

          <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <!-- DataTales Example -->
              <div class="table-responsive">
                <table class="table table-bordered RuleDataTable" width="100%" cellspacing="0"style="margin-top: 20px">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>NAME</th>
                      <th>FIELD</th>
                      <th>VALUE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Error</td>
                      <td>Error</td>
                      <td>Error</td>
                      <td>Error</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>

        
          <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <!-- DataTales Example -->
              <div class="table-responsive" style="min-width: 980px;padding-top: 8px">
                <table class="table table-bordered eventDataTable" width="100%" cellspacing="0"style="margin-top: 20px">
                  <thead>
                    <tr>
                      <th>EVENT ID</th>                      
                      <th>EVENT NAME</th>
                      <th>DESCRIPTION</th>
                      <th>TYPE</th>                      
                      <th>RULE ID</th>                     
                      <th>REPEATED</th>
                      <th>TIMEOUT</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Error</td>
                      <td>Error</td>
                      <td>Error</td>
                      <td>Error</td>
                      <td>Error</td>
                      <td>Error</td>
                      <td>Error</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>

        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

<!-- Export Modal -->
<div class="modal fade modal-center-screen" id="exportModal" tabindex="-1" role="dialog" data-backdrop="static" style="padding-top: 280px">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
              <h3 class='col-12 modal-title text-center'>
              Export Policy
              <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
              <span aria-hidden='true'>&times;</span>
              </button></h3>
        </div>
        <div class="modal-body">

           <button class="btn btn-secondary btn-icon-split" id="ruleExport" onclick="exportPolicy('rule')" style="margin-left: 90px">
              <span class="icon text-white-50">
                <i class="fas fa-arrow-right"></i>
              </span>
              <span class="text">Export Rules</span>
           </button>

           <button class="btn btn-secondary btn-icon-split"  onclick="exportPolicy('event')" style="margin-left: 210px">
              <span class="icon text-white-50">
                <i class="fas fa-arrow-right"></i>
              </span>
              <span class="text">Export Events</span>
           </button>

        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

<!-- Import Modal -->
<div class="modal fade modal-center-screen" id="importModal" tabindex="-1" role="dialog" data-backdrop="static" style="padding-top: 280px">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
              <h3 class='col-12 modal-title text-center'>
              Centered Modal Title
              <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
              <span aria-hidden='true'>&times;</span>
              </button></h3>
        </div>
        <div class="modal-body">
        <p>This is a large modal.</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins | Data table script -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  {{!-- Style for DataTable --}}
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts | DataTable script -->

  {{!-- Script to fill the table manual --}}

  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
  
  <!-- Multiselect plugin: -->
 
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>

  <script src="js/policy.js"></script>
  <script src="js/tables.js"></script>

</body>

</html>
