<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Rules</title>

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
 


  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {{>sidebar}}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {{>topbar}}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Rules</h1>
        {{> messages }}
        <div class="card-body" >
        <button class="btn btn-secondary" data-toggle="modal" data-target="#addRuleModal">ADD RULE</button>
        </div>
        <div class="table-responsive">
        <table class="table table-bordered" id="RuleDataTable" width="100%" cellspacing="0"style="margin-top: 20px">
            <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>FIELD</th>
                <th>VALUE</th>
                <th></th>
            </tr>
            </thead>
        </table>
        </div>
            
          

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {{>footer}}
    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  {{>logout}}
  

<!-- Add Rule Modal -->

<div class="modal fade" id="addRuleModal" tabindex="-1" role="dialog" aria-labelledby="addRuleModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRuleModalTitle">Create Rule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/api/policy/postRules">

                  <div class="input-group-prepend-users">
                    <div class="input-group-text-users">Name</div>
                  </div>
                  <input type="text" class="form-control input-users" id="NameRule" name="NameRule" onkeyup="emptyInput('rule')" required >
                  
                  <div class="input-group-prepend-users">
                    <div class="input-group-text-users">FIELD</div>
                  </div>
                  <input type="text"class="form-control input-users" id="ruleField" name="ruleField" size="38" onkeyup="emptyInput('rule')" required >
                  
                  <div class="input-group-prepend-users"  >
                    <div class="input-group-text-users">VALUE</div>
                  </div>
                  <input type="text" class="form-control input-users" id="ruleValue" name="ruleValue" size="38" autocomplete="off" onkeyup="emptyInput('rule')" required >         

      </div>
      <div class="modal-footer">
        <button type="submit" id="send" class="btn btn-primary" disabled>ADD</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- edit rule Modal -->

<div class="modal fade" id="editRuleModal" tabindex="-1" role="dialog" aria-labelledby="editRuleModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editRuleModalTitle">Edit Rule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/api/policy/editRule">

                  <input type="hidden" name="originaFieldsValue" id="originaFieldsValue">
                  <div class="input-group-prepend-users">
                    <div class="input-group-text-users">Name</div>
                  </div>
                  <input type="text" class="form-control input-users" id="editNameRule" name="NameRule" >
                  
                  <div class="input-group-prepend-users">
                    <div class="input-group-text-users">FIELD</div>
                  </div>
                  <input type="text"class="form-control input-users" id="editruleField" name="ruleField" size="38" >
                  
                  <div class="input-group-prepend-users"  >
                    <div class="input-group-text-users">VALUE</div>
                  </div>
                  <input type="text" class="form-control input-users" id="editruleValue" name="ruleValue" size="38" autocomplete="off" >         

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">EDIT</button>
      </div>
      </form>
    </div>
  </div>
</div>


  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins | Data table script -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  {{!-- Style for DataTable --}}
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts | DataTable script -->

  {{!-- Script to fill the table manual --}}
  <script src="js/policy.js"></script>
  <script src="js/tables.js"></script>
  
  

</body>

</html>
