<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Setting Siem</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {{>sidebar}}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {{>topbar}}


        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>
          {{> messages }}
          <div class="card shadow mb-4">
            <div class="card-body">


              
              <!-- Main Form Start-->

              {{!-- System Name --}}
              <form class="form-setting" id="setting-form-id">
                <div class="form-group row" name="System name">
                  <label for="inputEmail3" class="col-sm-2 col-form-label"><B>System Name:</B></label>
                  <div class="col-sm-10-setting">
                    <input type="text" class="form-control input-setting" id="SystemName" placeholder="System Name should be here">
                  </div>
                </div>
                {{!-- Based on [Automatic selection for dropdown] !--}}
                <div class="form-group row" name="Based on">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Correlation based on:</label>
                  <div class="col-sm-10-setting input-setting-dropdown">
                    <select class="custom-select" id="BasedOn">
                    <option value="hostname">Computer Name</option>
                    <option value="username">Username</option>
                    <option value="ip_add">IP Address</option>
                    <option value="mac_add">MAC Address</option>
                    </select>
                  </div>
                </div>
                {{!-- Time to load (Re-check) --}}
                <div class="form-group row">
                  <label for="inputTime" class="col-sm-2 col-form-label">Standby to next correlation:</label>
                  <div class="col-sm-10-setting">
                    <input type="number" class="form-control input-setting-number" id="TimeToLoad" placeholder="Seconds" min="0">
                  </div>
                </div>
                {{!-- Logs from X hours --}}
                <div class="form-group row">
                  <label for="inputTime" class="col-sm-2 col-form-label">Query X time back:</label>
                  <div class="col-sm-10-setting">
                    <input type="number" class="form-control input-setting-number" id="XTimeBack" placeholder="Hours" min="1">
                  </div>
                </div>
                {{!-- Submit button --}}
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" id="submit-setting">Submit</button>
                  </div>
                </div>
              </form>
              <!-- Main Form End-->

            </div>
          </div>
        </div>
        <!-- /.container-fluid -->


      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {{>footer}}

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  {{>logout}}

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  {{!-- Load setting from js file --}}
  <script src="js/setting.js"></script>

</body>

</html>
