<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Users</title>

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/sb-admin-2.css" rel="stylesheet">
  <link href="css/v4-shims.css" rel="stylesheet">
 


  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {{>sidebar}}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {{>topbar}}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Users</h1>
         {{> messages }}
         <div class="card-body" >
            <button class="btn btn-secondary" data-toggle="modal" data-target="#addUserModal">ADD USER</button>
          </div>  
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTableUsers" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                       
                      
                      <th>name</th>
                      <th>email</th>
                      <th>role</th>
                      <th></th>
                    </tr>
                  </thead>
                </table>
              </div>
            
          

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {{>footer}}

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  {{>logout}}
  

<!-- Add User Modal -->
<div class="modal fade modal-center-screen" id="addUserModal" tabindex="-1" role="dialog" data-backdrop="static" style="padding-top: 280px">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
              <h3 class='col-12 modal-title text-center'>
              Create User
              
              <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
              <span aria-hidden='true'>&times;</span>
              </button></h3>
        </div>
        
        <div class="modal-body">

              <form method="post" action="/api/users/add">
        
                  <div class="input-group-prepend-users">
                    <div class="input-group-text-users">Name</div>
                  </div>
                  <input type="text" class="form-control input-users" id="name" name="name" required>
                  
                  <div class="input-group-prepend-users">
                    <div class="input-group-text-users">Email</div>
                  </div>
                  <input type="text"class="form-control input-users" id="email" name="email" size="38" required>
                  
                  <div class="input-group-prepend-users"  >
                    <div class="input-group-text-users">Password</div>
                  </div>
                  <input type="password" class="form-control input-users" id="password" name="password" size="38" autocomplete="off" required>         

                  <div class="input-group-prepend-users">
                    <div class="input-group-text-users">Role</div>
                  </div>
                  <select type="text" id="role" name="role" class="form-control input-users-dropdown" required>
                    <option value="admin" selected>Admin</option>
                    <option value="user">Viewer</option>
                  </select>
        </div>

        <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" id="send" class="btn btn-success " >ADD</button>
                </form>
        </div>





  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins | Data table script -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  {{!-- Style for DataTable --}}
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts | DataTable script -->

  {{!-- Script to fill the table manual --}}
  <script src="js/Users.js"></script>
  
  

</body>

</html>
