{{#each messages.error}}
    <div class="alert alert-danger" style="width:12%;text-align: center;"><strong>{{this}}</strong> </div>
{{/each}}

{{#each messages.success}}
    <div class="alert alert-success" style="width:12%;text-align: center;"><strong>{{this}}</strong> </div>
{{/each}}